{% block iss %}
    <table>
	<tr><td>Номер:</td><td><input type=text {{ issue.id + 1 }}></td></tr>
	<tr><td>Заказчик:</td>
	<td>
	<select>
	    {% for opt in zak_items %}
		<option>{{ opt.name }}</option>
	    {% endfor %}
	</select>
	</td></tr>
	    {% for opt in isp_items %}
		<option>{{ opt.name }}</option>
	    {% endfor %}
	<tr><td>Исполнитель:</td>
	<td></td></tr>
    </table>
{% endblock %}