.mode {
width: 78%;
background-color: gray;
display: inline;
float: left;
//margin-top: -2px;
margin: 0 16px;
border-radius: 20px 0 0 20px;
//height: 100px;
//margin-left: 10px;
}

.mode .tool_panel {
text-align: left;
width: 8%;
}

.mode .viewer {
display: inline;
float: left;
width: 75%;
background-color: white;
}

.mode .editor, .ring {
display: none;
}

.mode .viewer .pay_pro, .share font {
font-size: 6pt;
}

.mode .ava {
width: 190px;
display: inline;
float: left;
}

.mode .ava table {
width: 70%;
}

.mode .info {
width: 40%;
float: left;
display: inline;
}

.mode .rate {
float: left;
display: inline;
width: 25%;
text-align: left;
}

.ring {
width: 100%;
display: none;
}

.share {
width: 100%;
}

#step1 .hdr {
//width: 80%;
//text-align: center;
height: 50px;
}

.active {
display: block;
}

.active-tab {
display: block-inline;
}

#lk-props {
background-color: red;
}

.lk-tab {
border-radius: 15px 15px;
background-color: black;
}

//.frn table {display: none;}

#log_out {display: none;}
