nav#menu{
 text-transform:uppercase;
 text-align:center;
 line-height:50px;
 background: #E6E6E6;
 border-radius:5px;
 padding:10px 10px 6px 10px;
 margin:5px auto 0; 
}
nav#menu ul li{
 display:inline;
}
nav#menu ul li a{
 text-decoration:none;
 color:#7A828B;
 font:16px verdana,sans-serif;
 padding:15px 30px;
 transition:0.5s;
}
nav#menu ul li a:hover{
 background: rgb(22, 22, 22);
 color: #FFF;
 transition:0.5s;
}
.default {
 width:920px;
}
.fixed {
 position:fixed;
 top:-5px; left:0;
 width:100%;
 padding:10px 0;
 -moz-box-shadow: 5px 5px 20px #666;
 -webkit-box-shadow: 5px 5px 20px #666;
 box-shadow: 0px 5px 10px #666;
 border-radius:0 !important;
 transition:1s;
 background: #E6E6E6; !important;
 }