body {background-color: gray;}

.site {
//position: absolute;
//left: 0;
width: 80%;
height: 100%;
//text-align: center;
margin: 0 auto;
margin-top: 40px;
//overflow: auto;
background-color: lightblue;
//color: red;
border-radius: 25px;
}

.logotip {
margin-top: 5px;
text-align: center;
width: 10%;
float: left;
}

.top {
//position: absolute;
background-color: #90ee90;
//text-align: left;
//overflow: auto;
width: 100%;
//padding-top: 30px;
//right: 0;
//left: 0;
//down: 0;
margin: auto;
border-radius: 15px 15px 0 0;
//padding: 20px;
//margin-top: 10px;
}

#gormnu, #gormnu li {
display: block-inline;
}

#gormnu li {
padding: 0;
margin: 0;
}

#zak a span {
//text-decoration: none;
//font-size: 10pt;
//text-transform: uppercase;
}

.auth {
margin-top: -10px;
text-align: center;
//border: solid 1px red;
//width: 25%;
//height: 30px;
//display: none;
float: right;
//margin-right: 10%;
}

.auth tr:first-child td a { text-decoration: none; font-size: 10pt; text-transform: uppercase;}

.auth tr:first-child td:first-child {
text-align: center;
border: 1px solid;
border-radius: 14px 0 0 14px;
padding: 4px 5px 4px 10px;
}

.auth tr:first-child td:last-child {
text-align: center;
border: 1px solid;
border-radius: 0 14px 14px 0;
padding: 4px 10px 4px 5px;
}

.auth tr:first-child td:hover {
background-color: black;
}

.auth tr:first-child td:hover a {
color: lightgreen;
//text-align: center;
//border: 1px solid;
//border-radius: 14px 0 0 14px;
//padding: 2px 3px 2px 8px;
}

.acc-mnu { display: none;}
.acc-mnu li {
width: 100px;
}

#reg_form {
border: solid 1px gray;
position: absolute;
display: none;
width: 30%;
text-align: center;
margin: auto;
//120px 650px;
//overflow: auto;
margin-top: 60px;
left: 0;
right: 0;
down: 0;
background-color: lightgreen;
border-radius: 15px 15px 15px;
}

.tmenu {
clear: both;
float: left;
height: 40px;
//display: block;
background-color: gray;
//font-color: darkblue;
font-size: 10pt;
text-align: right;
width: 85%;
margin-right: 8%;
margin-top: 20px;
border-radius: 25px 0 0 25px;
border: none;
font-weight: bold;
}

.tmenu li a {
//text-decoration: none;
display: block; padding: 5px 12px; color: #fff; font-size:150%; text-decoration: none; margin-left : 5px; -webkit-transform: skewX (45deg); /* Трансформация Для Safari и Chrome */ -moz-transform: skewX (45deg); /* Трансформация Для Firefox */ -o-transform: skewX (45deg); /* Трансформация Для Opera */ -ms-transform: skewX (45deg); /* Трансформация Для IE */ transform: skewX (45deg); /* Трансформация CSS3 */
}

.tmenu ul {marker: none;}
.tmenu ul li {
display: inline-block;
margin: 0;
padding-top: 10px;
padding-right: 30px;
//margin-top: -30px;
//margin-down: -2px;
}

.tmenu a:hover {
background-color: dark;
display: inline;
//padding-right: 30px;
-webkit-transform: skewX (45deg); /* Трансформация Для Safari и Chrome */ -moz-transform: skewX (45deg); /* Трансформация Для Firefox */ -o-transform: skewX (45deg); /* Трансформация Для Opera */ -ms-transform: skewX (45deg); /* Трансформация Для IE */ transform: skewX (45deg); /* Трансформация CSS3 */
}

.tmenu li:hover {
background: #8AB8CC; -webkit-transform: skewX (-45deg); /* Трансформация Для Safari и Chrome */ -moz-transform: skewX (-45deg); /* Трансформация Для Firefox */ -o-transform: skewX (-45deg); /* Трансформация Для Opera */ -ms-transform: skewX (-45deg); /* Трансформация Для IE */ transform: skewX (-45deg); /* Трансформация CSS3 */
}


.mnu_wrap {
text-align: center;
width: 100%;
}

.mnu .lkm {border-radius: 10px 10px; background-color: green;}
.mnu .lkm li:hover {border-radius: 10px 10px; background-color: lightgreen;}

.mnu {
text-align: left;
width: 98%;
//background: red;
font-size: 12pt;
margin: 1;
//margin-rigth: 15px;
padding-left: 15px;
padding-right: 15px;
}

.mnu .gorline, .mnu .gorline li {
border: solid 1px green;
border-radius: 20px 20px 20px 20px;
// 15px 15px 15px;
//font-size: 14pt;
text-align: left;
background-color: green;
display: inline-block;
//margin: 5px;
margin-top: 10px;
margin-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
}

.mnu .gorline li img {
position: relative;
//margin: 0;
//margin-bottom: 0;
//padding: 0;
left: -12px;
top: 6px;
}

.lkm {
//margin: 0;
//padding: 0;
margin-left: -7px;
margin-top: -5px;
height: 30px;
}

.qryy {
margin-top: 30px;
height: 100px;
}

.lkm li {
border-radius: 10px;
}

.hm {
//margin-bottom: 0;
//padding-right: 0;
}

.mnu .gorline a {
text-decoration: none;
color: white;
//font-size: 14pt;
}

.mnu .gorline li:hover {
border-radius: 15px;
border: solid 1px green;
margin: 0;
//margin-bottom: 10px;
padding: 10px;
padding-top: 10px;
padding-bottom: 10px;
//font-size: 14pt;
background-color: lightblue;
}

#sel-item {
display: inline;
float: left;
width: 15%;
}

.mnu .gorline li a:hover {
//border-radius: 15px;
//.hm {
//border: solid 1px white;
//margin: 0;
//margin-top: 0;
//margin-bottom: 10px;
//padding: 0;
//padding-top: 0px;
//padding-bottom: 10px;
//font-size: 14pt;
//background-color: lightblue;
}

#site_mnu {
width: 80%;
margin-top: 20px;
text-align: center;
}

#site_mnu.fixed {
position: fixed;
margin: 0 auto;
margin-top: 40px;
margin-top: 130px;
width: 80%;
text-align: center;
}

.lk {
height: 20px;
}

#step1 {
margin-top: 20px;
//display: block;
background-color: lightgreen;
text-align: center;
width: 60%;
border-radius: 20px;
border: solid 1px;
}

#step1 .user_mode {
//display: block-inline;
float: left;
}


#step1 label {
display: block;
margin: 0 0 0 -1px;
cursor: pointer;
padding: 8px 10px;
}

#step1 input {
position: absolute;
left: -9999px;
}

#step1 input:checked + label {
//background: yellow;
//box-shadow: inset 0 3px 6px rgba(0, 0, 0, .2);
}


#step2 {
//display: none;
//background-color: brown;
}

#step3 {
width: 100%;
border: 1px solid;
text-align: center;
display: none;
}

#step4 {
border: solid 1px gray;
width: 100%;
text-align: center;
}

#step4 spa {
margin-top: 20px;
font-size: 14pt;
color: lightgreen;
}

#step4 .hd {
border-radius: 13px 13px 0 0;
margin-top: -18px;
background-color: gray;
height: 30px;
font-color: green;
}

.mode1 {
display: inline;
width: 90%;
float: left;
border: solid 1px red;
}

.mode1 .viewer {
display: block;
width: 80%;
float: left;
border: solid 1px red;
background-color: green;
height: 40%;
}

.mode1 .editor {
display: none;
float: left;
width: 90%;
}


.logo {
font-size: 8pt;
}

.mode1 .ava {
width: 190px;
display: inline;
//background-color: green;
float: left;
}

.mode1 .info {
display: inline;
float: left;
}

.mode1 .rate {
display: inline;
float: left;
}

#frn {
width: 90%;
display: inline;
clear: both;
float: left;
text-align: left;
}

.ring {
font-size: 8pt;
margin-top: -80px;
display: none;
position: absolute;
float: left;
width: 80%;
background-color: darkgray;
text-align: right;
}

.new_acc {
display: none;
}

//.acc #prof a {text-decoration: none;}

.descr {
width: 100%;
}

.tip {
height: 35px;
}

#nav {
display: none;
list-style: none;
}

.topauthul {
float: right;
width: 15%;
display: none;
text-align: center;
}

#prof {
width: 100%;
display: block;
}

#share {
background-color: lightblue;
display: none;
width: 90%;
}

#zakaz {
display: block;
float: right;
}

.tabs {
//width: 10%;
background-color: darkgray;
font-size: 8pt;
border-radius: 0 10px 10px 0;
}

.tabs li {padding: 15px;}

.tabs span {
font-size: 9pt;
padding: 20px;
margin: 0;
}

.tabs:hover {
background-color: lightgray;
text-align: center;
}

.lk-tabs {
border-radius: 10px 0 0 10px;
}

.search a {
display: none;
}

#contain {
background-color: red;
}
