.frnt {
width: 80%;
//padding-right: 15px;
//padding-left: 15px;
//border: 1;
//margin-left: 5px;
//margin-right: 5px;
//text-align: top;
}

.frntt div {height: 100%;}

.mode1 {
//display: inline;
//float: left;
}

.mode1 .viewe {
display: block;
width: 60%;
height: 20%;
border: 1px solid;
background-color: blue;
}

.mode1 .viewe .av {
border: 1px solid;
width: 200px;
background-color: blue;
}

#rss {
float: right;
display: inline;
width: 18%;
//height: 100%;
background-color: green;
text-align: center;
border-radius: 0 10px 10px 0;
margin-right: 10px;
}

#rss .rss-head {
border-radius: 0 10px 10px 0;
display: inline;
width: 100%;
float: left;
background-color: gray;
}

.qry {
margin-top: -20px;
}

//.cost input {width: 50px;}
//.mode .shkala {display: none;}
