#tsk {
float: left;
display: none;
width: 18%;
//height: 100%;
background-color: green;
text-align: center;
border-radius: 0 20px 20px;
}

#tsk .tsk-head {
display: block;
width: 100%;
float: left;
border-radius: 0 20px 20px;
}

#new-tsk {
display: none;
position: absolute;
top: 250px;
width: 62%;
background-color: blue;
}
