{% extends "ecpd/lk_cust.html" %}
{% load static %}

	{% block editor %}
        <div class=editor >
            <h3>Редактирование профиля:</h3>
            <form id=info_edit action="">
                <table width=80% >
                <tr><td>Фамилия:</td><td><input type=text name=fam value='{% account.fam %}' ></td></tr>
                <tr><td>Имя:</td><td><input type=text name=imya value='{% account.name %}' ></td></tr>
                <tr><td>Отчество:</td><td><input type=text name=fam value='{% account.otch %}' ></td></tr>
                <tr><td>Email:</td><td><input type=text name=email value='{% account.email %}' ></td></tr>
                <tr><td>Phone:</td><td><input type=text name=email value='{% account.phone %}' ></td></tr>
                <tr><td>Род деятельности:</td><td>
                    <select>
                	<option value=0 >Выбрать сферу деятельности</option>
                	<option value=1 >Медицина</option>
                	<option value=2 >Строительство</option>
                	<option value=3 >Кулинария</option>
                    </select>
                </td></tr>
                </table>
            </form>
        </div>
	{% endblock %}

