{% extends "ecpd/lk_cust.html" %}
{% load static %}

{% block options %}
{% endblock %}

{% block marker %}
    <!--table width=80% border=1><tr>
    {% for itm in top_items %}
        <td align=center ><a href=# age={{ itm.age }}>{{ itm.name }}</a></td>
    {% endfor %}
	</tr></table>
    <div style='width: 100%; background-color: gray; float: left; display: inline;' >

	<table style='width:80%; border: 1px;' ><tr>
	    <td width=10%><b>Профиль</b></td>
	    <td width=65%><i>Режим работы: сегодня 8:00 -16:00</i></td>
	    <td width=25% align=right ><input type=button value='Редактировать профиль' ></td>
	</tr></table><br-->

	<div class=viewer styl='display: inline; float:left; width: 85%; border: 1px red;' >
	    <!--div class=logo style='display: inline; float:left' ><img src="{% static 'icon.png' %}" width=180px height=200px></div>
	    
	    <div class=info style='display: inline; float:left; width: 40%; border: 2px;' >
		<div class=pers_inf style='display: inline; float:left; text-align: left; width: 100%'>
		    1. {{ itm.name }}<br>
		    2. <font style='font-size: 7pt;' >{{ itm.age }} на сайте</font><br>
		    3. {{ itm.name }}<br>

		    <font style='font-size: 9pt;' >{{ itm.age }} Опыт работы: {{ itm.age }}</font><br>
		    город: {{ itm.name }}<br>
		</div>
		<div class=pay_pro style='display: inline; float:left; text-align: left; width: 20%' >
		    <input type=button value='Купить аккаунт Pro' >
		</div>
	    </div-->
	    
	    <div class=rate style='display: inline; float:right; width: 25%; text-align: left;'>
	        <p>Рейтинг: {{ itm.age }}</p>
	        <p>Сделки: {{ itm.age }}</p>
	        <p>Отзывы: {{ itm.age }}</p>
	    </div>

        </div>

        <!--div style='width:100%; clear: both; background-color: brown;' >&nbsp;</div>

        <div class="mnu lkm" style='text-align: left;'>
	    <!--table width=100% border=1><tr><ul>
        	{% for itm in top_items %}
	        <li class=gorline widt=10px align=center ><a href={{ itm.lnk }} age={{ itm.age }}>{{ itm.name }}</a></li>
                {% endfor %}</ul>
	    <!--/tr></table><br>
	    <div class=panel style='width: 78%;' >
	        <div class=descr>
		    {% block panel %}{% endblock %}
	        </div>
	    </div>
	
        </div-->

{% endblock %}
