
<div class="mnu qry"  styl="text-align:left; heigh: 60% ; margin-top: -20px; width: 80%;" >
    <br>
    <ul class=gorline>
	<li>
	<select id=cat >
	    <option value=0>Выбрать категорию</option>
	    <option value=1>Медицина</option>
	    <option value=2>Стройка</option>
	    <option value=3>Кулинария</option>
	</select>
	</li>
	<li>
	<select id=spec >
	    <option value=0>Выбрать компетенции</option>
	    <option value=1>Меди</option>
	    <option value=2>Стр</option>
	    <option value=3>Кул</option>
	</select>
	</li>
	<li>
	<select id=country >
	    <option value=0>Выбрать страну</option>
	    <option value=1>Россия</option>
	    <option value=2>Америка</option>
	    <option value=3>Германия</option>
	</select>
	</li>
	<li class=cost-range >
	<label for=cost_low >Цена: </label><input type=text id=cost_low placeholder=1 >
	<label for=cost_high > - </label><input type=text id=cost_high placeholder=999999 >
	<div class=shkala >
	    Диапазон:
	</div>
	<!--br><img src='/static/icons/up.jpeg' -->
	</li>
	<input id=qry_text type=text name=qry_text value='' placeholder='Найти..' ><button id=find >Найти</button></li>
    </ul>
</div>
