{% load static staticfiles %}
<html>
<head>
<title>Заглушка</title>


{% block css %}

<!--link rel="stylesheet" href='{% static "css/ring.css" %}' >
<link rel="stylesheet" href='{% static "css/vhod.css" %}' >
<link rel="stylesheet" href='{% static "css/butt.css" %}' -->

<link rel="stylesheet" href='/static/css/cost.css' >
<link rel="stylesheet" href='/static/css/lk.css' >
<link rel="stylesheet" href='/static/css/reg.css' >
<link rel="stylesheet" href='/static/css/task.css' >

{% endblock %}

{% block css2 %}
{% endblock %}

<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<!--script src='http://code.jquery.com/jquery-latest.js' ></script-->
<!--Streamroot API (needs to be defined before the streamroot wrapper)>
<script src="http://files.streamroot.io/release/1.1/api.js"></script>
<Streamroot wrapper and loader >
<script type="text/javascript">
streamrootWrapperSrc = "http://files.streamroot.io/release/1.1/wrappers/jwplayer/6.8/streamroot.wrapper.min.js";
</script>
<script type="text/javascript" src="http://files.streamroot.io/release/1.1/wrappers/jwplayer/6.8/srloader.js"></script-->
<script type='text/javascript' src='{% static "jwplayer/jwplayer.js" %}' ></script>
<!--script type='text/javascript' src='{% static "ring/server.js" %}' ></script-->

<script>

$(document).ready(function(){
        var active_url = '/lk';
        var nick_pos = document.cookie.indexOf('login=');

        //alert(document.cookie);
        //alert(nick_pos);
        //var nick = "";

        if (nick_pos > -1) {
            $('.auth').hide();
            $('.acc-mnu').show();
            $('.acc-mnu li').hide();
            //$('#log_out a').show();
            //$(document.cookie.split(";")).each(function(i,e){nick=e.split('=')[1];});
        }
        // else {$('#log_out').hide();}

        //$('.acc a').click(function(){
        //    alert('asd');
        //});

        //$('select .acc').change(function(event){
        //    alert(event);
        //});
        
        $(window).scroll(function(){
            var $site_menu = $('#site_menu');

            if( $(this).scrollTop()>120 && !$site_menu.hasClass("fixed") ){
                $site_menu.addClass("fixed");
            } else if ( 120 >= $(this).scrollTop() ) {
                $site_menu.removeClass("fixed");
            }
        });

        $('#log_out a').click(function(){
	    //this.hide();
	    //$('.acc').hide();
	    //alert('Выход');
	    var date = new Date();
	    date.setTime(date.getTime() - 1);
	    var expires = "; expires=" + date.toGMTString() + ";";
	    //alert(expires);
	    document.cookie = 'login=' + expires;
	    //alert(document.cookie);
	    document.location.href = "/";
	});

	/*
	$('#btn_vhod').click(function() {

	$('#step1 input[name=btn_vhod]').click(function() {
	    $('#step1').hide();
	    $('#step4').show();
	    $('#step4 .new_acc').hide();
	});

	$('#step1 input[name=btn_reg]').click(function() {
	    active_url = '/perf/add';
	    $('#step1').hide();
	    $('#step2').show();
	});

	$('#step1 input[name=btn_vhod]').click(function() {
	    $('#step1').hide();
	    $('#step4').show();
	});

	$('#step2 .tip').click(function() {
	    $('#step2').hide();
	    $('#step3').show();
	});

	$('#step3 #to_pass').click(function() {
	    $('#step3').hide();
	    $('#step4').show();
	});

	$('#reg').submitt(function(event) {
	    event.preventDefault();
	    //alert(active_url);
	    //alert($('input:first').attr('name'));
	    $.get(active_url, data=$('#reg').serialize()); function(res){
	    document.location.href = active_url;
	    });
	    //event.preventDefault();
	    //$('#step').hide();
	    //return false;
	});
	*/

        $('#edt').click(function(){
            alert(this.value);
            if (this.value=='Редактирование профиля') {
                //alert($(this).attr('display'));
                $('.editor').show();
                $('.viewer').hide();
                $(this).val('Просмотр профиля');
            } else {
                $('.editor').hide();
                $('.viewer').show();
                $(this).val('Редактирование профиля');
            }
        });

        //$('#btn_vhod').click(function() {
            //alert(this.id); //attr('href'));
        //    window.location.href = $(this).attr('href');
        //});
        
        $('.zak').click(function(){alert('Заказы');});
        
        $('#cat, #spec, #country').change(function(){
            //alert($(this).val());
        });
        
        $('.cost-range input').focus(function(){
            $('.shkala').show();
        });

        $('.cost-range input').blur(function(){
            //alert($(this).value);
            //$('.shkala').hide();
        });
        
        $('#find').click(function(){
            alert($('#cat option:selected').text());
            alert($('#spec').val());
            alert($('.cost-range input')[0]);
            alert($('.cost-range input')[1].text());
        });

        $('.acc-mnu a').click(function(){
            $('.acc-mnu li').show();
        });

{% block scr %}
{% endblock %}

{% block script %}
{% endblock %}

});
</script>
</head>
<body>
<div class=site >

  <div class=top >
    <!--ul id=header><li-->
    <table width=100% ><tr>
    <td width=8% >
    <div class=logotip >
        <!--styl='width:10%; background-color: gray; display: inline; float: left' -->
        <a href="/" ><img src="{% static 'icon.png' %}" alt=Лого /></a>
      </div>
    </td><td width=20% >
    <!--/li><li>
    <!--div class=header >
    <div class=title > <!--style='width:75%; background-color: red; display: inline;float: left;' -->
    HelpingCall</td><td width=40% >
    Cерверное время: <b>{% now "G:i:s" %}</b><br>Звонок ()
    </td><td width=5% align=right >
    <!--/li><li-->
    <span><a href=# id=zak onclick='return false;' >Заказы</a></span>
    </td><td align=right >
    <!--/li><li>
    <!--div class=auth style='width: 10%; float: right; text-align:right;-->
    {% if not self %}
    <div class=auth >
        <!--style='float: right; width: 10%;' -->
	<table><tr>
	    <td>
	    <!-- styl='border-radius: 12px 0 0 12px; border: 1px solid; padding-left: 10px; padding-right: 5px;'>
	    <!--ul id=nav><li>ЛК</li<li>Выйти</li></ul>
	    <div class=auth-log styl='border: 1px solid;' -->
	    <a clas=vhod href=lk onclic="return false;//$('#reg_form').show(); window.location.href='/lk';" >Вход</a>
	    <!--/div>
	    <button class=vhod type=button id="btn_vhod" href="lk" >Вход</button-->
	</td>
	<td>
	    <!--button class=vhod type=button id="btn_reg" href="r_f" >Регистрация</button><!--/li></ul>
	    <div class=auth-reg -->
	    <a clas='reg knopka1' href=r_f onclic="$('#reg_form').show(); window.location.href='/r_f';" >Регистрация</a>
	    </div>
	<!--/td></tr></table>
            <!--a href="#" class="knopka01" tabindex="0">кнопка</a><div class=acc -->
        </td></tr></table>
    </div>
    {% else %}
    <!--div clas=acc >
        <table><tr><td-->
            <ul class=acc-mnu >
            <a href=# >{{ request.COOKIES.login }}</a>
            <li id=prof ><a href='/lk/{{ request.COOKIES.login }}' >Профиль</a></li>
            <li id=log_out ><a href=# onclick='return false;' >Выйти</a></li>
            </ul>
            <!--/td></tr>
        </table>
    </div-->
            <!--button id=log_out name=log_out >Выйти</button-->
    <script>
            $(document.cookie.split(";")).each(function(i,e){
                login = e.split("login=");
                if (login.length > 1) {
                    //alert(e);
                    //$('#prof a').text(login[1]);
                }
            });
      </script>
    {% endif %}
    </td></tr>
    </table></div>
    <!--/li></ul-->

    <!--div class=search >
    <!--style='width: 50%; float: right; background-color: brown; clear: both; text-align: right;' >
       block search %}<input type=text size=30>&nbsp;&nbsp;Поиск endblock %}
    </div></div-->

    <div id=reg_form >
    {% block authblck %}
    <!--form id=reg action="/lk" >
    <div id=step1 width=100% display=block align=center >
        <table width=18% >
            <tr><td align=left ><input id=btn_vhod type=button value=Вход onclic='window.location.href="/lk"' > </td>
            <td align=right ><input id=btn_reg type=button value=Регистрация onclic='window.location.href="/r_f"' ></td></tr>
        </table>
    </div>

    <div id=step2 width=100% display=block align=center >
	<table width=18% >
	    <tr><td align=left ><input class=tip ame=zak type=button value=Заказчик > </td><td align=right ><input class=tip name=isp type=button value=Исполнитель ></td></tr>
	</table>
    </div>

    <div id=step3 width=100% display=block align=center >
	<table width=18% >
	    <tr><td align=left >Фамилия:</td><td align=right ><input type=text name=fam value='' placeholder='Фамилия' ></td></tr>
	    <tr><td align=left >Имя:</td><td align=right ><input type=text name=imya value='' placeholder='Имя' ></td></tr>
	    <tr><td align=left >Отчество:</td><td align=right ><input type=text name=otch value='' placeholder='Отчество' ></td></tr>
	    <tr><td align=left >Город:</td><td align=right ><input type=text name=town value='' placeholder='Город' ></td></tr>
	    <tr><td align=left >Телефон:</td><td align=right ><input type=text name=phone value='' placeholder='Телефон' ></td></tr>
	    <tr><td align=left colspan=2>&nbsp;</td></tr>
	    <tr><td align=left colspan=2 ><input id=to_pass type=button value=Пропустить ></td></tr>
	</table>
    </div>

    <div id=step4 width=100% display=block align=center >
	<table width=18% >
	    <tr><td align=left >Логин(<font color=red >*</font>):</td><td align=right ><input type=text name=login value='qwe2' placeholder='Логин' ></td></tr>
	    <tr><td align=left >Email(<font color=red >*</font>):</td><td align=right ><input type=text name=email value='qwe2@qwe.qwe' placeholder='Email' ></td></tr>
	    <tr><td align=left >Пароль(<font color=red >*</font>):</td><td align=right ><input type=password name=passw value='qwe2' placeholder='Пароль' ></td></tr>
	    <tr><td align=left class=new_acc >Пароль (повторно)(<font color=red >*</font>):</td><td class=new_acc align=right ><input type=password name=passw_re value='qwe2' placeholder='Пароль' ></td></tr>
	    <tr><td align=left colspan=2>&nbsp;</td></tr>
	    <tr><td align=left ><input class=submit name=ok type=submit value=Войти ></td><td align=right ><input class=submit name=cancel type=reset value=Отмена ></td></tr>
	</table>
    </div>
    </form-->
    {% endblock %}
    </div>
    <!--div class=search style='width: 50%; float: right; background-color: brown; clear: both; text-align: right;' >
       block search %}<input type=text size=30>&nbsp;&nbsp;Поиск endblock %}
    </div-->

    <div class=mnu >
      <!--style='width: 60%; float: left; background-color: darkgray; text-align: right; color: green; display: inline-block;' -->
      {% block topmenu %}{% include "ecpd/topmenu.html" %}{% endblock %}
    </div>

    <!--div class=tmenu2 style='width: 100%; float: right; background-color: lightgray;'>
    {% block topmenu2 %}Подменю{% endblock %}
    </div-->

    <div id=frn >
    {% block front %}
      {% include "ecpd/front.html" %}
    {% endblock %}
    </div>

    {% block footer %}{% endblock %}

</div>
</body>
</html>