{% load static %}
{% block kurs %}
<div style='width:180px; height:140px; align:right; background-color: lightgreen;'>
    <table width=200px height=160px >
    <tr><td><div display=block ><img src='{% static "ico.png" }' ></div></td></tr>
    <tr><td><div><a href=# >Курс</a></div></td></tr>
    </tr></table>
</div>
{% endblock %}