{% load static %}

<div class=info style='display: inline; float:left; width: 28%; border: solid 2px red; padding: 10px; margin: 5px;' >
		<!--div class=pers_inf style='display: inline; float:left; text-align: left; width: 100%'>
		    1. {{ itm.name }}<br>
		    2. <font style='font-size: 7pt;' >{{ itm.age }} на сайте</font><br>
		    3. {{ itm.name }}<br>

		    <font style='font-size: 9pt;' >{{ itm.age }} Опыт работы: {{ itm.age }}</font><br>
		    город: {{ itm.name }}<br>
		</div>
		<div class=pay_pro style='display: inline; float:left; text-align: left; width: 20%' >
		    <input type=button value='Купить аккаунт Pro' >
		</div-->
	    <div float=left ><img width=64px height=64px src='{% static "icon.png" %}' ></div>
	    
	    <div class=rate style='display: inline; float:right; width: 70%; text-align: left;'>
	        <p>Рейтинг: {{ itm.age }}</p>
	        <p>Сделки: {{ itm.age }}</p>
	        <p>Отзывы: {{ itm.age }}</p>
	    </div>
</div>
