{% load static %}

<div style='displa: inline; floa: left; width: 100%; height: 40px; align: right; background-color: lightgreen;'>
    <!--table width=30% height=160px border=1 >
    <tr><td><div width=30% height=50px display=block ><img src='{% static "icon.png" %}' ><br>
    <!--/td></tr>
    <tr><td--><ul>
    <li><a href='#{{ itm.lnk }}' >{{ itm.tag}}</a> ({{ itm.cost }})</li>
    <li>{{ itm.content }}</li>
    </ul>
    <!--/div>
    </td></tr>
    </table-->
</div>
