{% extends "ecpd/lk_cust.html" %}

{% block css2 %}
    <link rel=stylesheet href="/static/css/reg_rss.css" >
    <link rel=stylesheet href="/static/css/task.css" >
    <link rel=stylesheet href="/static/css/cost.css" >
{% endblock %}

{% load static %}

{% block script %}
    $('#tsk').show();
    $('#rss').hide();

    $('#new_task').click(function(){
        //alert('123');
        $('#new-tsk').show();
    });

{% endblock %}

{% block options %}
        {% include "ecpd/front.html" %}
        <table width=100% border=1 styl='margin-top: 30px;'  ><tr><td>
        <!--div width=60% float=left display=inline -->Найдено: 0<!--/div><div width=10% float=right display=inline --></td><td width=20% ><button type=button id=new_task >Новая задача</button>
        </td></tr></table>
{% endblock %}

{% block marker %}
	{% for itm in tsk_items %}
	    {% include "ecpd/job_layout.html" %}
        {% endfor %}

        <!--div class=task>
        <!--styl='width: 100%; background-color: gray; float: left; display: block; marginleft: 20px;' border=1 -->
	<!--table style='width: 100%; border: 1px solid;' >
	    <tr><td width=10%><b>Рейтинг :</b></td><td width=40%>0.0</td></tr>
	    <tr><td width=10%><b>Оказано услуг :</b></td><td width=40%>0</td></tr>
	    <tr><td width=10%><b>Просмотров :</b></td><td width=40%>0</td></tr>
	    <tr><td width=10%><b>Дата рождения :</b></td><td width=40%>01.01,1001</td></tr>
	    <tr><td width=10%><b>Пол :</b></td><td width=40%>M</td></tr>
	    <tr><td width=10%><b>На сайте :</b></td><td width=40%>0.0</td></tr>
	    <tr><td width=10%><b>Дата регистрации :</b></td><td width=40%>01.01.0101</td></tr>
	    <tr><td width=10%><b>Место нахождение: </b></td><td width=40%>.</td></tr>
	    <tr><td width=10%><b>Ссылка на страницу: </b></td><td width=40%>./</td></tr>
	</table><br>
        </div-->

        <div id=new-tsk >
            <!-- styl='display: none; width: 75%; position: absolute; background-color: white;' >
            <!--form method="POST" action="" >
            { include "ecpd/person.html" %}
            { include "ecpd/isp_person.html" %}-->
            {% for itm in partners %}
                {% include "ecpd/person.html" %}
            {% endfor %}

            <table width=100% display=block >
                <tr><td colspan=2><b>Новая задача:</b></td></tr>
                <tr><td width=10% ><b>Тема:</b></td><td><input type=text ></td></tr>
                <tr><td><b>Области:</b></td><td><input type=text ></td></tr>
                <tr><td><b>Содержание:</b></td><td><textarea type=text cols=30 rows=3 ></textarea></td></tr>
                <tr><td><b>Стоимость:</b></td>
                    <td><div class=cost-range ><input id=cost_low type=text ><label for=cost_high > - </label><input type=text id=cost_high ></div></td></tr>
                <tr><td><button type=button onclick="$('#new-tsk').hide();" >Закрыть</button></td>
                    <td align=right ><inpyn type=submit value=Добавить ></td>
                </tr>
            </table>

        </div>

{% endblock %}
