{% extends "ecpd/index.html" %}
{% load l10n %}
{% load i18n %}
{% load static %}

{% block front %}
<div style='text-align: center; width:100%' >

    {% block lk %}
    <h3>Личный кабинет<h3>
    {% endblock %}
</div>
{% endblock %}

</body>
</html>