{ extends "ecpd/lk_cust.html" %}
{% load static %}

{% block marker %}
<div width=100% >
    <div width=20% float=left display=inline >
        <img src='{% static "media/kursy_scany.png" %}'  width=150px height=120px >
    </div>
    <div display=inline float=left >
        <table width=100%>
        <tr><td><a href=# >{{ person.name }}</a></td><tr>
        <tr><td>{{ person.comment }}</a></td><tr>
        </table>
    </div>
</div>
{% endblock %}