{% extends "ecpd/lk_cust.html" %}
{% load static %}

{% block panel %}
        Отзывы:<br>
        <table width=100% border=1><tr>
	{% for person in top_items %}
	    <!--td align=center ><a href=# age= itm.age > itm.name }}</a></td>
	    { include "ecpd/lk_comment.html" %}-->
        {% endfor %}
	</tr></table>
        <!--div style='width: 15%; display: inline;'><font>elm</font></div-->
{% endblock %}
