{ extends "ecpd/lk_cust.html" %}
{% load static %}

{% block panel %}
        <!--table width=80% border=1><tr>
	{% for itm in items %}
	    <td align=center ><a href=# age={{ itm.age }}>{{ itm.name }}</a></td>
        {% endfor %}
	</tr></table-->
    <div style='width: 100%; background-color: gray; float: left;' >
    <h3>Доступные kursy:</h3>
            {% for k in kursy %}
                <!--div style='width: 15%; display: inline;'>{{ usl }}</div-->
                <a href=# >k</a>
                {% include "ecpd/lk_krs.html" %}
            {% endfor %}

<!--script>
jwplayer('vidos').load([{
    "file": "/static/media/reg.mp4",
        "image": "/static/media/kursy_scany.png",
            "title": "My Favorite Video!",
                "description": "This has lots of kittens in it!"
                }]);
</script-->
    </div>
{% endblock %}
