{% load static %}

<div width=33% float=left >
    <div id="vidos" class="video" ><a href=# >Линка{{ kurs }}</a>
        <script type="text/javascript">
        jwplayer("vidos").setup({
            file: "/static/media/reg.mp4",
            image: "/static/media/kursy_scany.png",
            width: 240,
            height: 180,
            title: "Мой мегаклип",
            type: "video/mp4",
            label: "240p",
            description: "Тестовое вывод видюх",
        });
        </script>
    </div>

</div>