{% extends "ecpd/lk_cust.html" %}
{% load static staticfiles %}

{% block scr %}
    /*
    alert(document.cookies);
    $('.auth').hide();
    $('#edt').click(function(){
        //alert(this.value);
    });

    $('#ring_panel').click(function(){
        //$('.viewer, .editor').hide();
        var href = 'https://5.63.152.242:9001/';
        //alert(href);
        //window.location.href = href;
        //$.ajax({url: href, success: function(res){alert(res);$('.ring').innerHTML(res);
        $('.ring').show();
        //}});
    });

    $('#disconn').click(function(){
        $('.ring').hide();
        //$('.viewer').show();
    });

    $('#to_sign').click(function(){
        $('.kursy').show();
    });
    */
    $('.ring').show();

{% endblock %}

{% block ringer %}

            <form method=get action="/call" >
             {% include "ring/demos/index.html" %}<br><input id=disconn type=button value=Отключиться >
             </form>

{% endblock %}
