{% extends "ecpd/lk_cust.html" %}
{% load static %}

{% block panel %}
        <!--table width=80% border=1><tr>
	{% for itm in items %}
	    <td align=center ><a href=# age={{ itm.age }}>{{ itm.name }}</a></td>
        {% endfor %}
	</tr></table-->
    <div styl='width: 100%; background-color: gray; float: left; display: inline; text-align: left' >
	<h2>Заголовок услуги</h2>
	Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..
	Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..
	Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..
	Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..
	Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..
	Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..
	<h2>Работаю ...</h2>
	Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..
	Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..
	Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..
	Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..
	Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..
	Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..
	Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..
	Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..
	Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..
	<h2>Комменты.</h2>
	Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..
	Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..
	Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..
	Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..
	Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..
	Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..
	Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..
	Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..
	Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..
	Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..
	Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..
	Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..
	Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..
	Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..
	Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..
	Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..
	Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..Текст..
    </div>
{% endblock %}
