{% extends "ecpd/lk_cust.html" %}
{% load static %}

{% block panel %}
        <table width=100% border=1 ><tr>
	{% for itm in items %}
	    <td align=center ><a href=# age={{ itm.age }}>{{ itm.name }}</a></td>
        {% endfor %}
	</tr></table>
{% endblock %}
