{% extends "ecpd/lk_cust.html" %}
{% load static %}

{% block panel %}

	<b>Webinary:</b><br>
        <table width=100% border=1>
        {% for itm in ku_items %}
	    <tr><td width=120px ><img src='{% static "media/kursy_scany.png" %}' width=100px height=100px ></td>
	        <td align=center ><a href=# age={{ itm.age }}>{{ itm.text }}</a></td></tr>
        {% endfor %}</table>

{% endblock %}
