{% extends "ecpd/index.html" %}
{% load static %}

<!--link rel='stylesheet' href='{% static "css/lk.css" %}' -->

{% block scr %}

	//var data = $('form').serialize();
	//var login = $('form input[name=login]').val();
	//var pass = $('form input[name=passw]').val();

	//document.onload = function(e) {
        //$.cookie('login', 'kos1');
        //var prm = 'login=';
        //var csrf = document.cookie.indexOf(prm);
        //alert(csrf);
	//}

	var active_url = '/lk';

	$('#step1 .tip').click(function() {
	    $('#step1').hide();
	    $('#step2').show();
	});

	$('#step2 #to_pass').click(function() {
	    $('#step2').hide();
	    $('#step3').show();
	});

	$('form').submit(function(event) {
	    var data = $('form').serialize();
	    var login = $('form input[name=login]').val();
	    var pass = $('form input[name=passw]').val();
	    //event.preventDefault();
	    //var csrfmdl = $('form input[name=csrfmiddlewaretoken]').val();
	    //alert(pass.length);
	    if (login.length && pass.length) {
	        //var expires;
	        //if (1) {
		//    var date = new Date();
		//    date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
		//    expires = ";
		//    expires=" + date.toGMTString();
		//} else { expires = ""; }
		//document.cookie = name + "=" + value + expires + ";
		//path=/";
	        //csrfmdl = document.cookie.indexOf("csrftoken=");
	        //if (csrfmdl==-1) {
	        //document.cookie.indexOf("; csrfmiddleware=") > 0) {
	        //alert(document.cookie.length);
	        //['+data.replace('&',';')+']');
	        //data.replace('\&','\;');
	        document.cookie = " login=" + login + "; expires=;";
	        document.location.href = "/lk/" + login;
	    }
	});

	lgn_pos = document.cookie.indexOf("login=");
	if (0 > lgn_pos) {
	    $('#reg_form').show();
	    //login = document.cookie.find('login=(\w+);');
	    //indexOf("; login=");alert(login);['+data.replace('&',';')+']');data.replace('&',';');
	    //document.cookie = " login=" + login + "; expires=;";
	    //document.cookie =+ data;
	} else {
	        //alert('залогинен');
	        //alert(document.cookie);
	        //alert(lgn_pos);
	        //alert($('input:first').attr('name'));
	        //document.location.href = "/lk";
	        //active_url;
	}
	//$('#reg_form').show();

	//}
	//$.post(active_url, $('form').serialize());
	//event.preventDefault();
	//$('#step').hide();
	//return false;
	//});


{% endblock %}

{% block authblck %}
<form method=post action="" >{% csrf_token %}

    <!--div id=step1 width=100% display=block align=center >
        <table width=18% >
            <tr><td align=left ><input name=btn_vhod type=button value=Вход > </td><td align=right ><input name=btn_reg type=button value=Регистрация ></td></tr>
        </table>
    </div>

    <div id=step1 align=center >
	<table width=18% >
	    <tr><td align=left ><input class=tip name=zak type=button value=Заказчик > </td><td align=right ><input class=tip name=isp type=button value=Исполнитель ></td></tr>
	</table>
    </div>

    <div id=step2 align=center >
	<table width=18% >
	    <tr><td align=left >Фамилия:</td><td align=right ><input type=text name=fam value='' placeholder='Фамилия' ></td></tr>
	    <tr><td align=left >Имя:</td><td align=right ><input type=text name=imya value='' placeholder='Имя' ></td></tr>
	    <tr><td align=left >Отчество:</td><td align=right ><input type=text name=otch value='' placeholder='Отчество' ></td></tr>
	    <tr><td align=left >Город:</td><td align=right ><input type=text name=town value='' placeholder='Город' ></td></tr>
	    <tr><td align=left >Телефон:</td><td align=right ><input type=text name=phone value='' placeholder='Телефон' ></td></tr>
	    <tr><td align=left colspan=2>&nbsp;</td></tr>
	    <tr><td align=left colspan=2 ><input id=to_pass type=button value=Далее ></td></tr>
	</table>
    </div-->
    <div id=step1 ><br>
	<div class=hdr style='height: 22px; width: 100%; font-size: 13pt; background-color: gray; padding-top: 5px; border-radius: 10px 10px 0 0; margin-top: -18px; margin-bottom: 6px;' >
	    <span>Авторизация</span>:</div>
	<table width=80% align=center >
	    <tr><td align=left >Логин(<font color=red >*</font>):</td><td align=right ><input type=text name=login value='qwe2' placeholder='Логин' ></td></tr>
	    <!--tr><td align=left >Email(<font color=red >*</font>):</td><td align=right ><input type=text name=email value='qwe2@qwe.qwe' placeholder='Email' ></td></tr-->
	    <tr><td align=left >Пароль(<font color=red >*</font>):</td><td align=right ><input type=password name=passw value='qwe2' placeholder='Пароль' ></td></tr>
	    <tr><td align=left ><input class=submit name=ok type=submit value=Ок ></td>
	        <td align=right ><input name=cancel type=reset value=Отмена onclick='window.location.href="/";' ></td></tr>
	    <!--tr><td colspan=2 align=right ><input type=button value=Регистрация onclick='window.location.href="/r_f";' >
	     block reg_frm %} endblock %}
	    </td></tr>
	    <tr class='reg new_acc' display=none ><td align=left class=new_acc >Email(<font color=red >*</font>):</td><td align=right ><input type=text name=email value='qwe2@qwe.qwe' placeholder='Email' ></td></tr>
	    <tr class='reg new_acc' display=none ><td align=left class=new_acc >Пароль (повторно)(<font color=red >*</font>):</td><td class=new_acc align=right ><input type=password name=passw_re value='qwe2' placeholder='Пароль' ></td></tr>
	    <tr class='reg new_acc' display=none ><td align=left colspan=2>&nbsp;</td></tr>
	    <tr class='reg new_acc' dispaly=none ><td align=left ><input class=submit name=reg type=submit value=Ок ></td>
	    <td align=right ><input name=cancel type=reset value=Отмена onclick='window.location.href="/";' ></td></tr-->
	</table>
    </div>

</form>
{% endblock %}