{% extends "ecpd/lk_cust.html" %}
{% load static %}

{% block marker %}

    <!--table width=80% border=1><tr>
	{% for itm in items %}
	    <td align=center ><a href=# age={{ itm.age }}>{{ itm.name }}</a></td>
        {% endfor %}
	</tr></table-->
    <div style='width: 70%; background-color: gray; float: left; display: inline; margin-left: 20px;' >
	<table style='width:70%; border: 1px;' >
	    <tr><td width=10%><b>Рейтинг :</b></td><td width=40%>0.0</td></tr>
	    <tr><td width=10%><b>Оказано услуг :</b></td><td width=40%>0</td></tr>
	    <tr><td width=10%><b>Просмотров :</b></td><td width=40%>0</td></tr>
	    <tr><td width=10%><b>Дата рождения :</b></td><td width=40%>01.01,1001</td></tr>
	    <tr><td width=10%><b>Пол :</b></td><td width=40%>M</td></tr>
	    <tr><td width=10%><b>На сайте :</b></td><td width=40%>0.0</td></tr>
	    <tr><td width=10%><b>Дата регистрации :</b></td><td width=40%>01.01.0101</td></tr>
	    <tr><td width=10%><b>Место нахождение: </b></td><td width=40%>.</td></tr>
	    <tr><td width=10%><b>Ссылка на страницу: </b></td><td width=40%>./</td></tr>
	</table>
    </div>

{% endblock %}
