{% load static %}

<div class=info style='display: inline; float:left; width: 45%; border: solid 2px red; padding: 10px; margin: 5px;' >

    <div float=left ><img width=64px height=64px src='{% static "icon.png" %}' >
    </div>

    <div style='display: inline; float:right; width: 70%; text-align: left;'>
        <p>Имя: {{ itm.name }}</p>
        <p>Возраст: {{ itm.age }}</p>
        <p>Профиль: {{ itm.lnk }}</p>
    </div>

</div>
