{% extends "ecpd/index.html" %}
{% load static %}

<link rel='stylesheet' href='{% static "css/reg.css" %}' >
{% block scr %}
	var active_url = '/lk';
	var tip = "zak";

	$('.tip').click(function() {
	    tip = this.name;
	    alert(tip);
	    $('#step1').hide();
	    $('#step2').show();
	});

	$('#step2 #next').click(function() {
	    $('#step2').hide();
	    $('#step3').show();
	});

	/*
	$('#reg').submitt(function(event) {
	    event.preventDefault();
	    //alert(active_url);
	    //alert($('input:first').attr('name'));
	    document.location.href = active_url;
	    //$.post(active_url, $('form').serialize());
	    //event.preventDefault();
	    //$('#step').hide();
	    //return false;
	});
	*/
	$('#reg_form').show();
	
	$('#step1 [name=option]').change(function(){
	    //alert(this.id);
	    //$(this).find('input').attr('id'));
	    $('#step3').show();
	});

{% endblock %}

{% block authblck %}
<div id=container >

<form method=post action="perf/add" >{% csrf_token %}
    <!--div id=step1 width=100% display=block align=center >
        <table width=18% >
            <tr><td align=left ><input name=btn_vhod type=button value=Вход > </td><td align=right ><input name=btn_reg type=button value=Регистрация ></td></tr>
        </table>
    </div--><br>
    <b><center>Регистрация:</center></b>

    <div id=step1 style='text-align: center; widt: 70%; padding-top: 10px;' >
	    <!--div style='display: inline; float: left;' -->
	    <table width=70% align=center borde=1 ><tr><td>
	        <input name=option id=zak type=radio >
	        <label for=zak >Я заказчик</label>
	        </td><td>
	    <!--div style='display: inline; float: right;' >
	    <!--/td><td-->
	        <!-- styl='display: block-inline; float: left;' -->
	        <input name=option id=isp type=radio >
	        <label for=isp >Я исполнитель</label>
	        </td></tr></table>
    </div>

    <!--div id=step2 align=center ><br>
	<b>Персональные данные</b>:<br><br>
	<table width=18% >
	    <tr><td align=left >Фамилия:</td><td align=right ><input type=text name=fam value='' placeholder='Фамилия' ></td></tr>
	    <tr><td align=left >Имя:</td><td align=right ><input type=text name=imya value='' placeholder='Имя' ></td></tr>
	    <tr><td align=left >Отчество:</td><td align=right ><input type=text name=otch value='' placeholder='Отчество' ></td></tr>
	    <tr><td align=left >Город:</td><td align=right ><input type=text name=town value='' placeholder='Город' ></td></tr>
	    <tr><td align=left >Телефон:</td><td align=right ><input type=text name=phone value='' placeholder='Телефон' ></td></tr>
	    <tr><td align=left colspan=2>&nbsp;</td></tr>
	    <tr><td align=left ><input id=back type=button value=Назад ></td>
		<td align=right ><input id=next type=button value=Далее ></td></tr>
	</table>
    </div-->

    <div id=step3 style='align: center; width: 100%;' ><br>
	<b>Данные для авторизации</b>:<br><br>
	<table width=100% borde=1 >
	    <tr><td width=45% >Логин(<font color=red >*</font>):</td><td><input type=text name=login value='qwe2' placeholder='Логин' ></td></tr>
	    <tr><td>Email(<font color=red >*</font>):</td><td><input type=text name=email value='qwe2@qwe.qwe' placeholder='Email' ></td></tr>
	    <tr><td>Пароль(<font color=red >*</font>):</td><td><input type=password name=passw value='qwe2' placeholder='Пароль' ></td></tr>
	    <tr><td>Пароль (повторно)(<font color=red >*</font>):</td><td><input type=password name=passw_re value='qwe2' placeholder='Пароль (повторно)' ></td></tr>
	    <tr><td colspan=2>&nbsp;</td></tr>
	    <tr><td><input class=submit name=ok type=submit value=Ок ></td>
		<td align=right ><input name=cancel type=reset value=Отмена onclick='window.location.href="/";' ></td></tr>
	</table>
    </div>

</form>
</div>
{% endblock %}