{% extends "ecpd/index.html" %}

{% block auth %}

<!--script src='https://ajax.googleapis.com/ajax/jquery/3.1.1./jquery-3.1.1.js'></script-->
{% block scr %}
<script>
	//$('.reg').attr('auth', 'inline');

	$('[name=close]').click(function(){
		//$('.reg_frm').attr('display', 'none');
		alert(this);
		//$.ajax('/login', function(elm) {});
	});

	$('[name=login]').click(function(){
		//$('.reg_frm').attr('display', 'none');
		//alert('vhod');
		//$.ajax('/lk', function(elm) {});
		document.location.href = '/lk';
	});

	$('[name=add_usr]').click(function(){
		//$('.reg_frm').attr('display', 'none');
		alert('novyi');
		document.location.href = '/reg_usr';
		//$.ajax('/login', function(elm) {});
	});
	
</script>
{% endblock %}

{% block authblck %}
<div border=1 id=container >
    <form id=reg action=/login >{% csrf_token %}
    <div id=auth displa=block >
	    <h3>Вход / регистрация<h3>
	    <input name=login type=button value=Войти >&nbsp;&nbsp;<input name=add_usr type=button value=Регистрация><br><br>
	    <input name=close type=button value=Закрыть onclick="$('.container .auth').hide(); $('.container .usr_type').show();" >
    </div>
    <div id=usr_type display=none >
	<select id=user_mode >
		<input type=text id=zak value=Заказчик />&nbsp;&nbsp;<input type=text id=isp value=Исполнитель />
	</select>
    </div>
    <div id=user_info display=none >
	<table width=40% >
	<tr><td>Фамилия:</td><td><input type=text name=fam ></td></tr>
	<tr><td>Имя:</td><td><input type=text name=name ></td></tr>
	<tr><td>Отчество:</td><td><input type=text name=otch ></td></tr>
	<input name=login type=button value=Ок >
	</table>
    </div>
    </form>
</div>
{% endblock %}
