{% extends "ecpd/lk_base.html" %}

<script src='https://ajax.googleapis.com/ajax/jquery/3.1.1./jquery-3.1.1.js'></script>
<script>
//    function login(){
($(document).ready(function() {
	$('.login').click(function() {
	    alert('this');
	    //$.ajax('/login', function(elm) {});
	});
})();
</script>

{% block lk %}
<div border=1 >
<form id=reg method=POST action="" >{% csrf_token %}
    <h3>Вход / регистрация<h3>
    <div>
    <dl class=register>
    <select id=user_mode>
	<option value=1>Заказчик</option>
	<option value=2>Подрядчик</option>
	<option value=3>Админ</option>
    </select>
    {% for field in form %}
	<dt>{{ field.label_tag }}</dt>
	<dd></dd>
    {% endfor %}
    </dl>
    </div>

    <input class=login type=button value=Войти >&nbsp;&nbsp;
    <input class=login type=button value=Регистрация><br><br>
    <input type=button value=Закрыть>

</form>
</div>
{% endblock %}
