{% load static %}

<div style='width: 100%; display: block; padding: 5px; text-align: left;'>
    <img src='{% static "icon.png" %}' ><br>
    <span>Дата: {{ itm.lnk }}</span><br>
    <span>Тема: {{ itm.tag }}</span><br>
    <span>Содержание: {{ itm.content }}</span><br>
</div>
