{% extends "ecpd/index.html" %}
{% block topmenu2 %}
<table><tr>
    <td><a href=#>Ппункт1</a></td>
    <td><a href=#>Ппункт2</a></td>
    <td><a href=#>Ппункт3</a></td>
    <td><a href=#>Ппункт4</a></td>
</tr></table>
{% endblock %}
