{% load static %}

{% block scr %}
    <script>
    $('#goriz .search').hover(function(){
        alert('Поиск...');
        $('#search #qry').show();
    });
    </script>

{% endblock %}

{% block topmenu %}
    <!--table style='width:80%; text-align: right; border: 1;' ><!--tr>
    <td><a href=# >Работа</a></td>
    <td><a href=# >Услуги</a></td>
    <td><a href=# >Информация</a></td>
    <td><a href=/forum >Форум</a></td></tr>
    <tr>
    <div display=inline float=left >
    <a href=# onclick='document.location.href="/";' ><img style='paddingleft: -50px;' src='{% static "icons/up.png" %}' /></a>
    <nav id=menu -->
    <ul class=gorline ><!--style='display: inline-block; clear: both;  padding: 0; margin: 0;' -->
      <!--li><!--style='margin-top: 0; margin-bottom: 0;' ><li class=hm >
            <a href=# onclick='document.location.href="/";' ><span class=tmitm >
                <!--img styl='z-index: 0; position: relative; top: 6px;' src='{% static "icons/home.png" %}' ></span>
                </a>
      </li-->
      {% for itm in items %}
        <li><a href='/{{ itm.lnk }}' ><span class=tm_itm >{{ itm.name }}</span></a></li>
      {% endfor %}
      <li class=search ><input class=qry type=text value='' placeholder='Найти...' ></li>
    </ul>
{% endblock %}
