{% load static %}

<div style='width: 100%; display: block; paddin: 5px; text-align: center; margin: 0 auto;'>
    <table style='width: 90%; border: 1px solid; background-color: gray; ' ><tr><td>
    <span>Дата: {{ itm.lnk }}</span><br>
    <span>Тема: {{ itm.tag }}</span><br>
    <span>Стоимость: {{ itm.cost }}</span><br>
    <img src='{% static "icon.png" %}' >
    </td></tr></table>
</div>
