{% extends "ecpd/lk_cust.html" %}
{% load static %}

    {% block option %}
        {% include "ecpd/front.html" %}
    {% endblock %}

{% block marker %}

    <!--div style='width: 80%; background-color: gray; float: left; display: inline;' -->
    {% block selecte %}{% endblock %}

    <div style='width: 80%; color:green; text-align:left;' >
        <h4>Услуги:</h4><br>
	<!--table style='width: 75%; border: 1px  solid;' ><tr>
	    <td width=10%><b>SQL</b></td>
	    <td><i>Разработка базы</i></td>
	</tr></table-->

	<div class=profile style='display: inline; float:left; width: 85%; border: 1px red;' >
	    <div class=logo style='display: inline; float:left' ><img src="{% static 'icon.png' %}" width=180px height=200px></div>
	
	    <div class=info style='display: inline; float:left; width: 40%; border: 2px;' >
		<div class=pers_inf style='display: inline; float:left; text-align: left; width: 100%'>
		    1. {{ itm.name }}<br>
		    2. <font style='font-size: 7pt;' >{{ itm.age }} на сайте</font><br>
		    3. {{ itm.name }}<br>

		    <font style='font-size: 9pt;' >{{ itm.age }} Опыт работы: {{ itm.age }}</font><br>
		    город: {{ itm.name }}<br>
		</div>
		<div class=pay_pro style='display: inline; float:left; text-align: left; width: 20%' >
		    <input type=button value='Купить аккаунт Pro' >
		</div>
	    </div>
	
	    <div class=rate style='display: inline; float:right; width: 25%; text-align: left;'>
	        <p>Рейтинг: {{ itm.age }}</p>
	        <p>Сделки: {{ itm.age }}</p>
	        <p>Отзывы: {{ itm.age }}</p>
	    </div>

        </div>

    </div>

{% endblock %}
