{% extends "ecpd/lk_cust.html" %}
{% load static %}

	{% block viewer %}
	    <div class=logo style='display: inline; float:left' ><img src="{% static 'icon.png' %}" width=180px height=200px></div>

	    <div class=info style='display: inline; float:left; width: 40%; border: 2px;' >
		<div class=pers_inf style='display: inline; float:left; text-align: left; width: 100%'>
		    1. {{ account.login }}<br>
		    2. <font style='font-size: 7pt;' >{{ itm.age }} на сайте</font><br>
		    3. {{ itm.name }}<br>

		    <font style='font-size: 9pt;' >{{ itm.age }} Опыт работы: {{ itm.age }}</font><br>
		    город: {{ itm.name }}<br>
		</div>
		<div class=pay_pro style='display: inline; float:left; text-align: left; width: 20%' >
		    <input type=button value='Купить аккаунт Pro' >
		</div>
	    </div>
	    
	    <div class=rate style='display: inline; float:right; width: 25%; text-align: left;'>
	        <p>Рейтинг: {{ itm.age }}</p>
	        <p>Сделки: {{ itm.age }}</p>
	        <p>Отзывы: {{ itm.age }}</p>
	    </div>
	{% endblock %}
