{% extends "ecpd/lk_cust.html" %}
{% load static %}

{% block options %}
{% endblock %}

{% block marker %}

    <div style='width: 100%; display: inline; float: left;' >
        <!--table width=100% ><tr><td>Найдено исполнителей: 12</td><td><a href=#>Фильтр</a></td></tr></table-->
	{% for itm in items %}
	    <!--td align=center ><a href=# age= itm.age > itm.name }}</a></td-->
	    {% include "ecpd/isp.html" %}
        {% endfor %}
    </div>

{% endblock %}
