{% extends "ecpd/lk_cust.html" %}
{% load static %}

{% block css2 %}
    <link rel=stylesheet href='static/css/reg_rss.css' >
    <link rel=stylesheet href='static/css/task.css' >
    <link rel=stylesheet href='static/css/cost.css' >
{% endblock %}

{% block script %}

    $('.panel:first-child').show();

    $('#ring_panel').click(function(){
        $('.ring').show();
    });
    
    $('#disconn').click(function(){
        $('.ring').hide();
    });
    
    $('.prop a').click(function(){
        var tabn = $(this).attr('href');
        //alert(tabn);
        document.location.href = tabn;
        //$('.descr').html('{\% include "ecpd/lk_'+tabn+'\.html" \%}');
    });
    
    $('#edit').click(function(){
        $('.viewer').hide();
        $('.editor').show();
    });

    $('#close_frm').click(function(){
        $('.editor').hide();
        $('.viewer').show();
    });

{% endblock %}

{% block selected %}
	<table width=100% border=1 ><tr>
	    <td width=10%><a href='{{ request.META.PATH_INFO }}' >{{ request.COOKIES.login }}</a></td>
	    <td width=45% align=center ><i>Режим работы: сегодня 8:00 - 16:00</i></td>
	    {% if self %}
	    <td width=25% align=right ><input type=button id=edit value='Редактировать профиль' >
	    {% endif %}
	    <!--/td>
	    <td class=tool_panel --><a href=# ><img width=32px height=32px src='{% static "icons/up.png" %}' ></a>
	    <!--/td><td class=tool_panel -->
	    <a href=# id=ring_panel ><img width=32px height=32px src='{% static "icons/ring_serv.png" %}'></a></td>
	    </tr></table>
{% endblock %}

{% block marker %}
	<div class=viewer >

	    <div class=ava border=1 >
	        <table>
	            <tr><td><img src="{% static 'icon.png' %}" width=140px height=160px></td></tr>
	            <tr><td><font style='font-size: 9pt;' ><a id=chk_status href=# >Проверен</a></font></td>
	                <td><font style='font-size: 9pt;' ><a href=# >Lnk</a></font></td></tr>
	        </table>
	    </div>

	    <div class=info styl='display: inline; float:left; width: 40%; border: 2px;' >
		<div class=pers_inf styl='display: inline; float:left; text-align: left; width: 100%' >
		    1. {{ itm.name }}<br>
		    2. <font style='font-size: 7pt;' >{{ itm.age }} на сайте</font><br>
		    3. {{ itm.name }}<br>
		    <font style='font-size: 9pt;' >{{ itm.age }} Опыт работы: {{ itm.age }}</font><br>
		    город: {{ itm.name }}</li><br>
		</div>
		<div class=pay_pro style='display: inline; float:left; text-align: left; width: 20%' >
		    <font><input type=button value='Купить аккаунт Pro' ></font>
		</div>
	    </div>
	    
	    <div class=rate styl='display: inline; float:right; width: 25%; text-align: left;' >
	        <span>Рейтинг: {{ itm.age }}</span><br>
	        <span>Сделки: {{ itm.age }}</span><br>
	        <span>Отзывы: {{ itm.age }}</span><br>
	    </div>

        </div>

        <div class=editor styl='display: none; position: absolute; width: 56%; background-color: yellow; margin-top: 40px; text-align: right;' >
            <table><tr><td><b>Редактировать профиль</b></td><td><a href=# >Ссылка</a></td><td>Психолог<button type=button>Проверен</button></td></tr>
            <tr><td><button type=button>Основные</button></td><td><button type=button>Моя услуга</button></td></tr></table>
            <form>
                <div class=osn >
                <table width=100% border=1 >
                    <tr>
                    <td colspan=2 >Фото:</td></tr>
                    <tr>
                    <tr>
                    <td width=10% >
                    <img src='' width=128px height=128px ></td><td><button type=button name=prof id=prof >Загрузить фото</button>
                    </td></tr>
                    <tr>
                    <td>
                    <label for=prof >Отчество:</label></td><td><input type=text name=prof i=prof >
                    </td></tr>
                    <tr>
                    <td>
                    <label for=prof >Пол:</label></td><td><input type=radio name=prof id=m >Муж<input type=radio name=prof id=w >Жен
                    </td></tr>
                    <tr>
                    <td>
                    <label for=count >Страна:</label></td>
                    <td>
                        <select>
                            <option value=0 >Выбрать</option>
                            <option value=1 >Россия</option>
                        </select>
                    </td></tr>
                    <tr>
                    <td>
                    <label for=count >Город:</label></td>
                    <td>
                        <a href=# >Мой город</a><input type=text  name=search >
                        <div style='display: none; ' >
                        <select>
                            <option value=0 >Выбрать</option>
                            <option value=1 >Москва</option>
                        </select>
                        </div>
                    </td></tr>
                    <tr>
                    <td>
                    <label for=count >День рождения:</label></td>
                    <td>
                        <div>День:
                        <select>
                            <option value=0 >Выбрать</option>
                            <option value=1 >Москва</option>
                        </select>
                        </div>
                    </td></tr>
                    <tr>
                    <td colspan=2 >Данные для входа на сайт:</td></tr>
                    <tr>
                    <td>
                    <label for=prof >Логин:</label></td><td><input type=text name=login id=login >
                    </td></tr>
                    <tr>
                    <td>
                    <label for=prof >Пароль:</label></td><td><input type=text name=passw id=passw >
                    </td></tr>
                    <tr>
                    <td>
                    <label for=prof >Телефон:</label></td><td><input type=text name=phone id=phone >
                    </td></tr>
                    <tr>
                    <td colspan=2 >Уведомления с сайта:</td></tr>
                    <tr>
                    <td><input type=checkbox id=events >Ув1<br>
                    <input type=checkbox id=events >Ув2<br>
                    <input type=checkbox id=events >Ув3<br>
                    <input type=checkbox id=events >Ув1<br>
                    <input type=checkbox id=events >Ув2<br>
                    <input type=checkbox id=events >Ув3<br></td>
                    <td valign=top ><input type=checkbox id=events >Ув1<br>
                    <input type=checkbox id=events >Ув2<br>
                    <input type=checkbox id=events >Ув3<br></td>
                    </tr>
                    <tr>
                    <td colspan=2 align=right ><button type=button>Сохранить</button></td></tr>
                </table>
                </div>

                <div class=mu>
                    <table>
                        <tr><td></td>
                    </tr></table>
                </div>
            </form><br>
            <button type=button id=close_frm >Закрыть</button>
        </div>

        <div class=ring >
            <button id=disconn type=button ><font>Отключиться</font></button><br>
            {% include "ring/demos/index.html" %}
        </div>

        <div id=share >
	    <div style='display: inline; float: left; width: 50%; background-color: yellow;' >
		Соц.сети
	    </div>
	    <div style='display: inline; float: right; width: 45%; text-align: right; background-color: yellow;' >
		    <font styl='font-size: 8pt;' ><input type=button value='Предложить заказ' >&nbsp;&nbsp;
		    <input type=button value='Записаться' ></font>
	    </div>
        </div>

	<div class="mnu lkm" >
	    <ul class="gorline tabs" style='background-color: gray;' >
	    {% for itm in top_items %}
		<li class=prop ><a href={{ itm.lnk }} age={{ itm.age }} onclick='return false;' >{{ itm.name }}</a></li>
	    {% endfor %}</ul>

	    <div class=panel styl='width: 100%; height: 50%;' >
		<div clas=descr styl='width: 100%; height: 50%; background-color: green' >
		    {% block panel %}
			<!--{ include "ecpd/lk_uslugi.html" %}-->
		    {% endblock %}
		</div>
	    </div>

	</div>

{% endblock %}
