{% extends "ecpd/index.html" %}
{% load static %}

<!--script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1./jquery-3.1.1.js'></script>
<link rel='stylesheet' href='{ static "css/reg_form.css" }' -->
{% block scr %}
//    function login(){
/*
($(document).ready(function() {
	$('#step1 #btn_vhod').click(function() {
	    $('#step1').hide();
	    //$.ajax('/login', function(elm) {});
	});

	$('#step1 #btn_reg').click(function() {
	    $('#step1').hide();
	    $('#step2').show();
	    //$.ajax('/login', function(elm) {});
	});

	$('#step2 .tip').click(function() {
	    //alert(this.name);
	    $('#step2').hide();
	    $('#step3').show();
	    //$.ajax('/login', function(elm) {});
	});

	$('#step3 #to_pass').click(function() {
	    //alert('this');
	    $('#step3').hide();
	    $('#step4').show();
	    //$.ajax('/login', function(elm) {});
	});

	//$('#step4').click(function() {
	    //alert('this');
	    //$('#step4').hide();
	    //if (this.name == 'ok') {
		//alert(this.name);
		//alert(document.location.href);
		//document.location.href = '/perf/add/';
	    //$.ajax('/login', function() {
	    //}
	//});
})();
*/
    $('#reg_form').show();
{% endblock %}

{% block authblck %}
    Результаты: <h3>{{ res }}</h3><a href={{ lnk }} >{{ lnk_text }}</a>
{% endblock %}