{% load static from staticfiles %}
{% load i18n %}

Шаблон всех <i>подрядчиков</i> (пробка)<br>
Профиль: {{ profile }}<br>

{% for perf in all_perf %}
    {% block prf %}
	<a href=# ><b> Подрядчик: {{ perf.name }}</b></a><br/>
    {% endblock %}
{% endfor %}
